{{/*
Copyright RisingWave Labs
SPDX-License-Identifier: APACHE-2.0
*/}}

{{- if .Values.databases }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ printf "%s-hook-create-databases" (include "risingwave.fullname" .) | trunc 63 | trimSuffix "-" }}
  labels:
    {{- include "risingwave.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  backoffLimit: 10
  template:
    metadata:
      labels:
        {{- include "risingwave.selectorLabels" . | nindent 8 }}
    spec:
      restartPolicy: OnFailure
      containers:
      - name: create-databases
        image: {{ .Values.postgresql.image }}
        env:
        - name: PG_HOSTNAME
          value: {{ include "risingwave.fullname" . }}.{{ .Release.Namespace }}.svc
        - name: PG_PORT
          value: {{ .Values.service.port | quote }}
        - name: PG_DATABASE
          value: dev
        command:
        - bash
        - -c
        args:
        - |
          set -e

          function nc_bash {
            true &>/dev/null </dev/tcp/$1/$2
          }

          for i in {1..10}; do
            if nc_bash $PG_HOSTNAME $PG_PORT; then
              break
            fi
            echo "Waiting for RisingWave to be ready"
            sleep 5
          done

          psql -h $PG_HOSTNAME -p $PG_PORT -v ON_ERROR_STOP=1 --username root --dbname "$PG_DATABASE" <<-EOSQL
          {{- range $db := .Values.databases }}
              CREATE DATABASE IF NOT EXISTS {{ $db }};
          {{- end }}
          EOSQL
          echo "Created databases {{ join "," .Values.databases }}"
{{- end }}