{{/*
Copyright RisingWave Labs
SPDX-License-Identifier: APACHE-2.0
*/}}

{{- if .Values.monitor.podMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ include "risingwave-operator.fullname" . }}
  namespace: {{ ternary .Values.monitor.podMonitor.namespace .Release.Namespace (not (empty .Values.monitor.podMonitor.namespace)) }}
  labels:
    apps.kubernetes.io/component: manager
    {{- include "risingwave-operator.labels" . | nindent 4 }}
    {{- if .Values.monitor.podMonitor.additionalLabels }}
    {{ .Values.monitor.podMonitor.additionalLabels  toYaml | nindent 4 }}
    {{- end }}
  {{- $annotations := (include "risingwave-operator.annotations" . ) | trim }}
  {{- if $annotations }}
  annotations:
    {{ nindent 4 $annotations }}
  {{- end }}
spec:
  podTargetLabels:
  - app.kubernetes.io/name
  - app.kubernetes.io/instance
  - apps.kubernetes.io/component
  namespaceSelector:
    matchNames:
    - {{ .Release.Namespace }}
  selector:
    matchLabels:
      {{- include "risingwave-operator.selectorLabels" . | nindent 6 }}
      apps.kubernetes.io/component: manager
  podMetricsEndpoints:
  - port: metrics
    path: /metrics
      {{- if .Values.monitor.podMonitor.interval }}
    interval: {{ .Values.monitor.podMonitor.interval }}
      {{- end }}
      {{- if .Values.monitor.podMonitor.scrapeTimeout }}
    scrapeTimeout: {{ .Values.monitor.podMonitor.scrapeTimeout }}
      {{- end }}
      {{- if .Values.monitor.podMonitor.scheme }}
    scheme: {{ .Values.monitor.podMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitor.podMonitor.tlsConfig }}
    tlsConfig: {{- include "common.tplvalues.render" ( dict "value" .Values.monitor.podMonitor.tlsConfig "context" $ ) | nindent 8 }}
      {{- end }}
    relabelings:
    {{- if .Values.monitor.podMonitor.relabelings }}
    {{- include "common.tplvalues.render" (dict "value" .Values.monitor.podMonitor.relabelings "context" $) | nindent 4 }}
    {{- end }}
{{- end }}