{{/*
Copyright RisingWave Labs.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "risingwave-operator.fullname" . }}
  labels:
    {{- include "risingwave-operator.labels" . | nindent 4 }}
  {{- $annotations := (include "risingwave-operator.annotations" . ) | trim }}
  {{- if $annotations }}
  annotations:
    {{ nindent 4 $annotations }}
  {{- end }}
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: webhook
    name: webhook
  - port: 8443
    protocol: TCP
    targetPort: metrics
    name: metrics
  selector:
    {{- include "risingwave-operator.selectorLabels" . | nindent 4 }}
