{{/*
Copyright RisingWave Labs.
SPDX-License-Identifier: APACHE-2.0
*/}}

{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "risingwave-operator.serviceAccountName" . }}
  labels:
    {{- include "risingwave-operator.labels" . | nindent 4 }}
    {{- with .Values.serviceAccount.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- $annotations := (include "risingwave-operator.annotations" . ) | trim }}
  {{- if or $annotations .Values.serviceAccount.annotations }}
  annotations:
    {{- nindent 4 $annotations }}
    {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}
