{{/*
Copyright RisingWave Labs
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: Service
metadata:
  name: {{ include "risingwave.computeHeadlessServiceName" . }}
  labels:
    {{- include "risingwave.labels" . | nindent 4 }}
    risingwave.risingwavelabs.com/component: compute
  {{- $annotations := (include "risingwave.annotations" . ) | trim }}
  {{- if $annotations }}
  annotations:
    {{ nindent 4 $annotations }}
  {{- end }}
spec:
  clusterIP: None
  selector:
    {{- include "risingwave.selectorLabels" . | nindent 4 }}
    risingwave.risingwavelabs.com/component: compute
  ports:
  - name: svc
    port: {{ .Values.ports.compute.svc }}
    targetPort: svc
  - name: metrics
    port: {{ .Values.ports.compute.metrics }}
    targetPort: metrics
