{{/*
Copyright RisingWave Labs.
SPDX-License-Identifier: APACHE-2.0
*/}}

{{- if not .Values.standalone.enabled -}}
{{- if not .Values.compactMode.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "risingwave.frontendComponentName" . }}
  labels:
    {{- include "risingwave.labels" . | nindent 4 }}
    risingwave.risingwavelabs.com/component: frontend
  {{- $annotations := (include "risingwave.annotations" . ) | trim }}
  {{- if $annotations }}
  annotations:
    {{ nindent 4 $annotations }}
  {{- end }}
spec:
  replicas: {{ .Values.frontendComponent.replicas }}
  selector:
    matchLabels:
      {{- include "risingwave.selectorLabels" . | nindent 6 }}
      risingwave.risingwavelabs.com/component: frontend
  strategy:
    type: Recreate
  minReadySeconds: 0
  template:
    metadata:
      labels:
        {{- include "risingwave.selectorLabels" . | nindent 8 }}
        risingwave.risingwavelabs.com/component: frontend
        risingwave/name: {{ include "risingwave.fullname" . }}
        risingwave/component: frontend
        {{- if .Values.frontendComponent.podLabels }}
        {{- toYaml .Values.frontendComponent.podLabels | nindent 8 }}
        {{- end }}
      annotations:
        {{- if .Values.monitor.annotations.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.ports.frontend.metrics }}"
        prometheus.io/path: "/metrics"
        {{- end }}
        {{- include "risingwave.annotations" . | nindent 8 }}
        {{- if .Values.frontendComponent.podAnnotations }}
        {{- toYaml .Values.frontendComponent.podAnnotations | nindent 8 }}
        {{- end }}
        {{- include "risingwave.frontendConfigHashAnnotation" . | nindent 8 }}
    spec:
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
      {{- range .Values.image.pullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ include "risingwave.configurationConfigMapName" . }}
      {{- if .Values.tls.existingSecretName }}
      - name: certs
        secret:
          secretName: {{ .Values.tls.existingSecretName }}
      {{- end }}
      {{- if .Values.frontendComponent.extraVolumes }}
      {{- toYaml .Values.frontendComponent.extraVolumes | nindent 6 }}
      {{- end }}
      restartPolicy: Always
      {{- if .Values.frontendComponent.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.frontendComponent.terminationGracePeriodSeconds }}
      {{- end }}
      {{- if .Values.frontendComponent.nodeSelector }}
      nodeSelector:
      {{- toYaml .Values.frontendComponent.nodeSelector | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "risingwave.serviceAccountName" . }}
      automountServiceAccountToken: true
      hostNetwork: false
      hostPID: false
      hostIPC: false
      {{- if .Values.frontendComponent.shareProcessNamespace }}
      shareProcessNamespace: {{ .Values.frontendComponent.shareProcessNamespace }}
      {{- end }}
      {{- if .Values.frontendComponent.podSecurityContext }}
      securityContext: {{- toYaml .Values.frontendComponent.podSecurityContext | nindent 8 }}
      {{- end }}
      {{- if .Values.frontendComponent.affinity }}
      affinity: {{- toYaml .Values.frontendComponent.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.frontendComponent.schedulerName }}
      schedulerName: {{ .Values.frontendComponent.schedulerName }}
      {{- end }}
      {{- if .Values.frontendComponent.tolerations }}
      tolerations: {{- toYaml .Values.frontendComponent.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.frontendComponent.priorityClassName }}
      priorityClassName: {{ .Values.frontendComponent.priorityClassName }}
      {{- end }}
      {{- if .Values.frontendComponent.runtimeClassName }}
      runtimeClassName: {{ .Values.frontendComponent.runtimeClassName }}
      {{- end }}
      enableServiceLinks: false
      preemptionPolicy: PreemptLowerPriority
      setHostnameAsFQDN: false
      containers:
      - name: frontend
        image: {{ include "risingwave.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if .Values.diagnosticMode.enabled }}
        command: {{ toYaml .Values.diagnosticMode.command | nindent 8 }}
        args: {{ toYaml .Values.diagnosticMode.args | nindent 8 }}
        {{- else }}
        {{- if .Values.frontendComponent.embeddedServing }}
        command:
        - /risingwave/bin/risingwave
        - standalone
        args:
        - >-
          --compute-opts=--config-path /risingwave/config/risingwave.frontend.toml
            --listen-addr 0.0.0.0:{{ .Values.ports.compute.svc }}
            --advertise-addr $(POD_IP):{{ .Values.ports.compute.svc }}
            --role serving
        - >-
          --frontend-opts=--config-path /risingwave/config/risingwave.frontend.toml
            --listen-addr 0.0.0.0:{{ .Values.ports.frontend.svc }}
            --advertise-addr $(POD_IP):{{ .Values.ports.frontend.svc }}
        lifecycle:
          preStop:
            exec:
              command:
              - bash
              - -c
              - >-
                /risingwave/bin/risingwave ctl meta unregister-workers --yes \
                  --workers ${POD_IP}:{{ .Values.ports.compute.svc }}
        {{- else }}
        command:
        - /risingwave/bin/risingwave
        - frontend-node
        {{- end }}
        {{- end }}
        ports:
        - containerPort: {{ .Values.ports.frontend.svc }}
          name: svc
          protocol: TCP
        - containerPort: {{ .Values.ports.frontend.metrics }}
          name: metrics
          protocol: TCP
        {{- if .Values.frontendComponent.embeddedServing }}
        - containerPort: {{ .Values.ports.compute.svc }}
          name: c-svc
          protocol: TCP
        {{- end }}
        envFrom:
        {{- if .Values.frontendComponent.extraEnvVarsConfigMap }}
        - configMapRef:
            name: {{ .Values.frontendComponent.extraEnvVarsConfigMap }}
        {{- end }}
        {{- if .Values.frontendComponent.extraEnvVarsSecret }}
        - secretRef:
            name: {{ .Values.frontendComponent.extraEnvVarsSecret }}
        {{- end }}
        {{- if .Values.frontendComponent.embeddedServing }}
        {{- $credentialsSecret := (include "risingwave.credentialsSecretName" . ) -}}
        {{- if $credentialsSecret }}
        - secretRef:
            name: {{ $credentialsSecret }}
        {{- end }}
        {{- end }}
        env:
        {{ include "risingwave.cloudEnvironments" . | nindent 8 }}
        # Disable auto region loading. Refer to the original source for more information.
        # https://github.com/awslabs/aws-sdk-rust/blob/main/sdk/aws-config/src/imds/region.rs
        - name: AWS_EC2_METADATA_DISABLED
          value: "true"
        - name: RUST_LOG
          value: {{ .Values.frontendComponent.rustLog }}
        - name: RUST_BACKTRACE
          value: {{ .Values.frontendComponent.rustBacktrace }}
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: "status.podIP"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: "metadata.name"
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: "metadata.namespace"
        - name: CONTAINER_CPU_LIMIT
          valueFrom:
            resourceFieldRef:
              resource: "limits.cpu"
        - name: CONTAINER_MEMORY_LIMIT
          valueFrom:
            resourceFieldRef:
              resource: "limits.memory"
        - name: RUST_MIN_STACK
          value: "4194304"
        - name: RW_CONFIG_PATH
          value: /risingwave/config/risingwave.frontend.toml
        - name: RW_LISTEN_ADDR
          value: "0.0.0.0:{{ .Values.ports.frontend.svc }}"
        - name: RW_ADVERTISE_ADDR
          value: "$(POD_IP):{{ .Values.ports.frontend.svc }}"
        - name: RW_PROMETHEUS_LISTENER_ADDR
          value: "0.0.0.0:{{ .Values.ports.frontend.metrics }}"
        - name: RW_META_ADDR
          value: {{ printf "load-balance+http://%s.%s.svc:%d" (include "risingwave.metaHeadlessServiceName" .) .Release.Namespace (.Values.ports.meta.svc | int)}}
        {{- if .Values.tls.existingSecretName }}
        - name: RW_SSL_CERT
          value: /risingwave/certs/tls.crt
        - name: RW_SSL_KEY
          value: /risingwave/certs/tls.key
        {{- end }}
        {{- if .Values.frontendComponent.embeddedServing }}
        {{- if .Values.stateStore.s3.enabled }}
        - name: AWS_REGION
          value: {{ .Values.stateStore.s3.region }}
        {{- end }}
        {{- if and .Values.stateStore.s3.enabled .Values.stateStore.s3.forcePathStyle }}
        - name: RW_IS_FORCE_PATH_STYLE
          value: 'true'
        {{- end }}
        {{- if .Values.stateStore.oss.enabled }}
        - name: OSS_REGION
          value: {{ .Values.stateStore.oss.region }}
        {{- end }}
        {{- if .Values.stateStore.obs.enabled }}
        - name: OBS_REGION
          value: {{ .Values.stateStore.obs.region }}
        {{- end }}
        {{- if (include "risingwave.bundle.minio.enabled" .) }}
        - name: MINIO_USERNAME
          valueFrom:
            secretKeyRef:
              key: root-user
              name: {{ default (include "common.names.fullname" .Subcharts.minio) .Values.minio.auth.existingSecret }}
        - name: MINIO_PASSWORD
          valueFrom:
            secretKeyRef:
              key: root-password
              name: {{ default (include "common.names.fullname" .Subcharts.minio) .Values.minio.auth.existingSecret }}
        {{- end }}
        {{- if .Values.stateStore.s3.enabled }}
        {{- if .Values.stateStore.s3.endpoint }}
        - name: RW_S3_ENDPOINT
          value: {{ .Values.stateStore.s3.endpoint }}
        {{- end }}
        {{- else if .Values.stateStore.oss.enabled }}
        - name: OSS_ENDPOINT
          value: {{ include "risingwave.oss.endpoint" . }}
        {{- else if .Values.stateStore.obs.enabled }}
        - name: OBS_ENDPOINT
          value: {{ include "risingwave.obs.endpoint" . }}
        {{- else if .Values.stateStore.azblob.enabled }}
        - name: AZBLOB_ENDPOINT
          value: {{ .Values.stateStore.azblob.endpoint }}
        {{- end }}
        - name: RW_STATE_STORE
          value: {{ include "risingwave.hummockConnectionString" . }}
        - name: RW_DATA_DIRECTORY
          value: {{ include "risingwave.stateStoreDataDirectory" . }}
        {{- if .Values.frontendComponent.resources.limits }}
        {{- if .Values.frontendComponent.resources.limits.cpu }}
        - name: RW_PARALLELISM
          value: $(CONTAINER_CPU_LIMIT)
        {{- end }}
        {{- if .Values.frontendComponent.resources.limits.memory }}
        - name: RW_TOTAL_MEMORY_BYTES
          value: $(CONTAINER_MEMORY_LIMIT)
        {{- end }}
        {{- end }}
        {{- end }}
        {{- if .Values.frontendComponent.extraEnvVars }}
        {{- .Values.frontendComponent.extraEnvVars | toYaml | nindent 8 }}
        {{- end }}
        resources:
          {{- if .Values.frontendComponent.resources.limits }}
          limits:
            {{ toYaml .Values.frontendComponent.resources.limits | nindent 12 }}
          {{- end }}
          {{- if .Values.frontendComponent.resources.requests }}
          requests:
            {{ toYaml .Values.frontendComponent.resources.requests | nindent 12 }}
          {{- end }}
        volumeMounts:
        - mountPath: /risingwave/config
          name: config
          readOnly: true
        {{- if .Values.tls.existingSecretName }}
        - mountPath: /risingwave/certs
          name: certs
          readOnly: true
        {{- end }}
        {{- if .Values.frontendComponent.extraVolumeMounts }}
        {{- toYaml .Values.frontendComponent.extraVolumeMounts | nindent 8 }}
        {{- end }}
        {{- if .Values.frontendComponent.securityContext }}
        securityContext: {{ toYaml .Values.frontendComponent.securityContext | nindent 10 }}
        {{- end }}
        {{- if not .Values.diagnosticMode.enabled }}
        startupProbe:
          initialDelaySeconds: 2
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 12
          tcpSocket:
            port: svc
        livenessProbe:
          initialDelaySeconds: 2
          periodSeconds: 10
          tcpSocket:
            port: svc
        readinessProbe:
          initialDelaySeconds: 2
          periodSeconds: 10
          tcpSocket:
            port: svc
        {{- end }}
      {{- if .Values.frontendComponent.additionalContainers }}
      {{- toYaml .Values.frontendComponent.additionalContainers | nindent 6 }}
      {{- end }}
  {{- end }}
{{- end -}}
