{{/*
Copyright RisingWave Labs
SPDX-License-Identifier: APACHE-2.0
*/}}

{{- if not .Values.standalone.enabled -}}
{{- if .Values.monitor.podMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ printf "%s-%s" .Release.Namespace (include "common.names.fullname" . ) | trunc 63 | trimSuffix "-"}}
  namespace: {{ ternary .Values.monitor.podMonitor.namespace .Release.Namespace (not (empty .Values.monitor.podMonitor.namespace)) }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
    {{- if .Values.monitor.podMonitor.additionalLabels }}
    {{- include "common.tplvalues.render" (dict "value" .Values.monitor.podMonitor.additionalLabels "context" $) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  podTargetLabels:
  - risingwave/name
  - risingwave/component
  - app.kubernetes.io/name
  - app.kubernetes.io/instance
  - risingwave.risingwavelabs.com/component
  namespaceSelector:
    matchNames:
    - {{ .Release.Namespace }}
  selector:
    matchLabels: {{- include "common.labels.matchLabels" . | nindent 8 }}
    matchExpressions:
    - key: risingwave.risingwavelabs.com/component
      operator: Exists
  podMetricsEndpoints:
  - port: metrics
    path: /metrics
      {{- if .Values.monitor.podMonitor.interval }}
    interval: {{ .Values.monitor.podMonitor.interval }}
      {{- end }}
      {{- if .Values.monitor.podMonitor.scrapeTimeout }}
    scrapeTimeout: {{ .Values.monitor.podMonitor.scrapeTimeout }}
      {{- end }}
      {{- if .Values.monitor.podMonitor.scheme }}
    scheme: {{ .Values.monitor.podMonitor.scheme }}
      {{- end }}
      {{- if .Values.monitor.podMonitor.tlsConfig }}
    tlsConfig: {{- include "common.tplvalues.render" ( dict "value" .Values.monitor.podMonitor.tlsConfig "context" $ ) | nindent 8 }}
      {{- end }}
    relabelings:
    - action: drop
      regex: stream_exchange_.+
      sourceLabels:
      - __name__
    {{- if .Values.monitor.podMonitor.relabelings }}
    {{- include "common.tplvalues.render" (dict "value" .Values.monitor.podMonitor.relabelings "context" $) | nindent 4 }}
    {{- end }}
  {{- if .Values.connectorComponent.enabled }}
  - port: c-metrics
    path: /metrics
    {{- if .Values.monitor.podMonitor.interval }}
    interval: {{ .Values.monitor.podMonitor.interval }}
    {{- end }}
    {{- if .Values.monitor.podMonitor.scrapeTimeout }}
    scrapeTimeout: {{ .Values.monitor.podMonitor.scrapeTimeout }}
    {{- end }}
    {{- if .Values.monitor.podMonitor.scheme }}
    scheme: {{ .Values.monitor.podMonitor.scheme }}
    {{- end }}
    {{- if .Values.monitor.podMonitor.tlsConfig }}
    tlsConfig: {{- include "common.tplvalues.render" ( dict "value" .Values.monitor.podMonitor.tlsConfig "context" $ ) | nindent 8 }}
    {{- end }}
    relabelings:
    - action: replace
      regex: (.*)
      sourceLabels:
      - risingwave_component
      targetLabel: risingwave_component
      replacement: connector
    - action: replace
      regex: (.*)
      sourceLabels:
      - risingwave_risingwavelabs_com_component
      targetLabel: risingwave_risingwavelabs_com_component
      replacement: connector
    {{- if .Values.monitor.podMonitor.relabelings }}
    {{- include "common.tplvalues.render" (dict "value" .Values.monitor.podMonitor.relabelings "context" $) | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if .Values.compactMode.enabled }}
  - port: f-metrics
    path: /metrics
    {{- if .Values.monitor.podMonitor.interval }}
    interval: {{ .Values.monitor.podMonitor.interval }}
    {{- end }}
    {{- if .Values.monitor.podMonitor.scrapeTimeout }}
    scrapeTimeout: {{ .Values.monitor.podMonitor.scrapeTimeout }}
    {{- end }}
    {{- if .Values.monitor.podMonitor.scheme }}
    scheme: {{ .Values.monitor.podMonitor.scheme }}
    {{- end }}
    {{- if .Values.monitor.podMonitor.tlsConfig }}
    tlsConfig: {{- include "common.tplvalues.render" ( dict "value" .Values.monitor.podMonitor.tlsConfig "context" $ ) | nindent 8 }}
    {{- end }}
    relabelings:
    - action: replace
      regex: (.*)
      sourceLabels:
      - risingwave_component
      targetLabel: risingwave_component
      replacement: frontend
    - action: replace
      regex: (.*)
      sourceLabels:
      - risingwave_risingwavelabs_com_component
      targetLabel: risingwave_risingwavelabs_com_component
      replacement: frontend
    {{- if .Values.monitor.podMonitor.relabelings }}
    {{- include "common.tplvalues.render" (dict "value" .Values.monitor.podMonitor.relabelings "context" $) | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end -}}