apiVersion: v1
kind: Secret
metadata:
  name: {{ include "risingwave.fullname" . }}
  labels:
    {{- include "risingwave.labels" . | nindent 4 }}
  {{- $annotations := (include "risingwave.annotations" . ) | trim }}
  {{- if $annotations }}
  annotations:
    {{ nindent 4 $annotations }}
  {{- end }}
stringData:
  root-user: {{ .Values.auth.rootUser | quote }}
  root-password: {{ .Values.auth.rootPassword | quote }}
  {{- if ne .Values.auth.rootUser "root" }}
  real-root-password: {{ randAlphaNum 8 | quote }}
  {{- end }}
